/* -- LIST OF CONTENTS
 1. LANDING PANEL
 2. NAVBAR
 3. INFO
 4. SKILLS
 5. OUR TEAM
 6. CONTACT
 7. FOOTER
 --*/


 /*------------------*/
 /*---LANDING PANEL---*/
 /*--------------------*/
.background{
	background: url('img/back.jpg');
	height: 550px;
	width: 100%;
	background-color: #ccc;
	background-size: 100% 100% 	;
}
.background .cover{
	background: #0000004d;
	height: inherit;
	width: inherit;
	overflow: hidden;
}
.header{
	width: 50%;
	float: right;
	color: #fff;
	padding: 100px 0px;
}
.header .title{
	font-size: 24pt;
	font-family: calibri;
	letter-spacing: 1px;
}
.header .text{
	width: 80%;
	font-size: 12pt;
	font-family: calibri;
	padding: 10px;
}
.btn-outline-primary{
	border: 2px solid #22a16b;
	color: #22a16b;
	padding: 10px 20px;
	background: transparent;
	transition: 0.4s;
}
.btn-outline-primary:hover{
	background: #22a16b;
	color: #fff;
}

@media (max-width: 750px)
{
	.nav #navbar{
		position: relative;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
		font-family: calibri;
		padding: 0px 30px;
		height: 50.5px;
		transition: 1s;
		background: transparent;
	}
	.nav #navbar li.brand{
		color: #fff;
		font-weight: bolder;
  	font-size: 16pt;
  	padding: 25px 30px;
	}
	.nav #navbar li.item{
		color: #fff;
		padding: 15px 25px;
		border-bottom: 2px solid transparent;
		box-sizing: border-box;
		transition: 0.4s;
	}
	.menu-btn{
		float: right;
		padding: 5px;
		cursor: pointer;
	}
	.header .title{
		font-size: 18pt;
		font-family: calibri;
		letter-spacing: 1px;
	}
	.header .text{
		width: 80%;
		font-size: 10pt;
		font-family: calibri;
		padding: 10px;
	}
}
/*---------------------------------------*/
/*---------------NABAR-------------------*/
/*-----------------------------------------*/

.nav{
	display: block;
	margin: 0px;
	padding: 0px;
}

@media  (min-width: 750px){
	.nav #navbar{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
		font-family: calibri;
		padding: 0px 30px;
	}
	.nav #navbar li.brand{
		float: left;
		color: #fff;
		font-weight: bolder;
  	font-size: 16pt;
  	padding: 25px 30px;
	}
	.nav #navbar li.item{
		float: right;
		color: #fff;
		padding: 25px 30px;
		border-bottom: 2px solid transparent;
		box-sizing: border-box;
		transition: 0.4s;
	}
	.menu-btn{
		display: none;
	}
	.nav #navbar li.item:hover{
		border-bottom: 2px solid #fff;
	}
}

.nav #navbar li.item a{
	color: #fff;
	text-decoration: none;
}

/*------FOR PHONES AND TABS(LANDSCAPE)---------------*/
